


#wrap {max-width:800px; margin:0 auto;}

#main {width:100% !important; }

body img {width:100%; } /* firefox will ignore max-width when the jquery cycle is used, so we use width instead */

#triggers li {
         list-style-type:none;
         width:150px;
         background-color:#003366;
         float:left;
         margin-right:20px;
         margin-bottom:20px;
         text-align:center;
         padding:5px;
         }  


#triggers a {display:block;}

  #slide-nav li{
         list-style-type:none;
         width:150px;
         background-color:#003366;
         float:left;
         margin-right:20px;
         margin-bottom:20px;
         text-align:center;
         padding:5px;
         border-radius:10px;
        
              }
              
              #slide-nav{
              height:40px;}
              
   
              
              
              /*
              @media screen and (min-width: 600px) and (max-width: 800px) {
    a {color:red;}
    #wrap {padding:20px; }
    #main {width:65%; float:left;}
    #side {width:30%; float:right;}    
    #main, #side {border-top:10px solid #407f90;}
} 

@media screen and (max-width: 600px) {
    a {color:white;} 
    #wrap {padding:10px;}
    #main {width:100%;
        
        border-top:10px solid #604090;}
}   */