/* Reset */
	body, body * 	{margin:0; padding:0; text-indent:0; text-decoration: none; outline:none; }

	/* guide */
	body {background: transparent url(guide.png) repeat-y 50% 0; }

	body 	{font-family:"Helvetica Neue", helvetica, arial; font-size:14px; line-height:20px; color:gray;}

	#wrap {width:500px; margin:0 auto; }

	header {border-bottom:1px dashed gray; margin-top:42px; padding-bottom:16px; margin-bottom:6px; }

	h1 {font-size:20px; color:black;}
	h2 {font-size:20px; color:gray;}
	h3 {font-size:14px; color:gray;}
	
	p 	{margin-bottom:20px;}
	
	a 	{color:red; border-bottom:1px solid red;}
	
	em {background-color:yellow; font-style:normal;}
	
	img {display:block;}
	
	hgroup h1 {font-size:14px; color:black;}
	hgroup h2 {font-size:14px;}
	
	ul {list-style:none; margin:0 0 20px 25px; }
	li {text-indent:-25px}
	
	blockquote 		{background:transparent url(orange-rule.png) no-repeat 0 top; margin:0; padding:0;} 
	blockquote p 	{font-size:40px; line-height: 40px; font-weight:bold; text-indent:-20px; color:orange; margin:20px 0; padding:20px 0 0 0; }
	blockquote em 	{background-color:transparent; font-style:italic;}
	
	p img {padding:20px 50px; display:block; margin-top:-5px; margin-bottom:-15px;}
	p.caption, footer p {font-size:11px; font-weight:bold;}
	
	footer {margin:80px 0 20px 0;}