/* set some general type styles */

/* Reset the browser defaults on everything */
body * {margin:0; padding:0; border:none;text-indent:0;text-decoration: none;outline:none;}

body {
     margin-top: 0px;
     margin-left: 50px;
     width: 800px;
     line-height: 20px;
	}

p, ul, table  {
    text-indent:0;
	}
	

h1 {

   font-family:arial,helvetica;
   text-align: center;
   color: #ffffff;
   letter-spacing: 1px;
   padding-top: 25px;
   padding-bottom: 25px;
   background-color: #9a9e89;
   margin-bottom: 25px;
	}
	
h2 {
    text-align: center;
    letter-spacing: 1px;
    color: #9a9e89;
    padding-bottom: 10px;
    padding-top: 10px;
    

    
	}
	
h3 {
    text-align: center;
    letter-spacing: 1px;
    color: black;
    padding-bottom: 10px;
    padding-top: 10px;
	}
	
h4 {
    margin-top: 30px;
    text-align: center;
	}

code {
     color: #9a9e89;
}

/* this h1 is at the top: 
   "Waktins Web 1 Course Blog" */

h1#logo {

	}

	
/* TYPOGRAPHY WITHIN EACH POST */ 


/* post author and date */
.post h4 {

	}

/* post title */
.post h3 {

	}

/* the post title h3 always contains a 'permlink' */
.post h3 a {
    
	}

/* paragraphs inside each post */

.post p {

	}

/* hyperlinks inside each post */
.post a {
        color: #9a9e89;
        
        margin-top: 25px;
		}

/* unordered and ordered lists inside each post */
.post ul {

	}

.post ol {

	}


/* tables inside each post */

.post table {

	}

/* table rows */
.post tr {

	}

/* table header cells */
.post th {

	}
/* table cells themselves (td means 'table data') */

.post td {

	}
	

/* images inside each post */
	
.post img





/* the copyright and administrative links */

div#footer p {
	}
	
div#footer a {
	}