/* ------------------------
	 Reset
 ------------------------*/
	body, body * 	{margin:0; padding:0; text-indent:0; text-decoration: none; outline:none; font-weight:normal;}
	body img		{border:0;}

/* ------------------------
	Useful classes
 ------------------------ */
	 .clear 	{clear:both;}
	 .cf:after	{content: "."; display: block; height: 0; clear: both; visibility: hidden;}


 /* ------------------------
	 Content
 ------------------------ */
	body  			{font-family:georgia, serif; padding:0 20px 20px 20px; font-size:14px; line-height:21px; background-color:rgb(240,240,240); /* light gray*/ }
	
	#the-form 	{position:relative; opacity:.9; z-index:2; width: 330px; margin:0 auto 0 auto;  padding:5px 8px; font-family:arial;  font-size:12px;}
	#the-form label {font-weight:bold;}
	#the-form input[type="text"] {border:1px solid #eaeaea; background:white; padding:3px;}
	

	p


