body  {
	font-family:georgia;
	font-size:18px;
	line-height:21px;
	margin-bottom:10px;
	color:gray;
	}


#special1 {
	margin-top:10px;
	}
	
#special2 {
	margin-left:40px;
	}

strong {
	color:black;
	}
	
