#image1, #image2 {border:5px dashed gray;}

#image1	{background-color:red; padding:5px;}
#image2	{/*margin-left:20px;*/ margin-left:10px; padding:5px;}

#container1 {width:900px;}
#container2 {/*overflow:hidden;*/
			overflow:scroll;}
