/*Zero browser defaults*/
body * {margin:0; padding:0; border:none;text-indent:0;text-decoration: none;outline:none;}

/* ------------------------
	Basic style 
 ------------------------ */
body			{font-family:georgia; font-size:15px; line-height:21px; background-color:#e7e7e7; /* light gray*/}
h1, h2, p, ol	{font-weight:normal;margin-bottom:15px;}
ol li 			{margin-bottom:10px;}
a 				{color:#00b4ff; /*blue*/}
li.current a	{color:black;}
code			{font-family: courier, monospace; background-color:#fff9cb; /* light yellow 'highlighter'*/ }



/* ------------------------
	Layout 
 ------------------------ */

div#wrap {
	background-color:#fff; /* white*/
	width: 600px;
	margin: 20px auto;
	}

div#main {
	width: 500px;
	background-color: #fffee6; /*light yellow*/
	padding:50px;
	}

body {
	background: #e7e7e7 url(watkins.png) no-repeat left top;
/*	background-attachment:fixed;*/
	}

