/* Part 1 */


.section {
	margin-left:150px; 
	position:relative;
	}

#sub-nav {
	position:absolute;
	list-style:none;
	}


/* Part 2 */

#part2 img {
	position:absolute; 
	left:-130px; 
	top:25px;
	}

	
/* Part 3 */

#footer {
	position:fixed;
	bottom:0;
	left:0;
	width:250px;
	background-color:#bbf6ff; /* blue */
	padding:10px;
	margin:0;
	}