/*Zero browser defaults*/
body * {margin:0; padding:0; border:none;text-indent:0;text-decoration: none;outline:none;}

/* ------------------------
	Basic style 
 ------------------------ */
body			{font-family:georgia; font-size:15px; line-height:21px; background-color:#e7e7e7; /* light gray*/}
h1, h2, p, ol	{font-weight:normal;margin-bottom:15px;}
ol li 			{margin-bottom:10px;}
a 				{color:#00b4ff; /*blue*/}
li.current a	{color:black;}



/* ------------------------
	Layout 
 ------------------------ */


div#wrap {
	background-color:#fff; /* white*/
	border-top:2px solid black;
	width: 900px;
	margin: 20px auto;
	position:relative;
	}

div#main {
	width: 600px;
	background-color: #fffee6; /*light yellow*/
	padding:50px;
	margin-left:200px;
	}




div#sidebar {
	position:absolute;
	left:0;
	top:0;
	padding:20px;
	width:160px;
	background-color: #e6feff; /*light blue*/
	}

div#third {
	padding:50px;
	background-color:#c9ffa9; /* green */
	}
