/*Zero browser defaults*/
body * {margin:0; padding:0; border:none;text-indent:0;text-decoration: none;outline:none;}

/* ------------------------
	Basic style 
 ------------------------ */
body			{font-family:georgia; font-size:15px; line-height:21px; background-color:#e7e7e7; /* light gray*/}
h1, h2, p, ol	{font-weight:normal;margin-bottom:15px;}
ol li 			{margin-bottom:10px;}
a 				{color:#00b4ff; /*blue*/}
li.current a	{color:black;}



/* ------------------------
	Layout 
 ------------------------ */


div#wrap {
	background-color:white; /* white*/
	border-top:2px solid black;
	width: 900px;
	margin: 20px auto;
	}

div#main {
	width: 800px;
	background-color: #fffee6; /*light yellow*/
	padding:50px;
	}


p#second {
	position:absolute;
	left:50px;
	top:50px;
	width:450px;
	color:white;
	background:purple;  /* purple */
	opacity:.2;
	margin:0;
	}

