/*Zero browser defaults*/
body * {margin:0; padding:0; border:none;text-indent:0;text-decoration: none;outline:none;}


/* ------------------------
	Basic style 
 ------------------------ */
body  {
	font-family:georgia;
	font-size:15px;
	line-height:21px;
	background-color:#e7e7e7; /* light gray*/
	}

h1, h2, p, ol {
	font-weight:normal;
	margin-bottom:10px;
	}

a 				{color:#00b4ff; /*blue*/}
li.current a	{color:black;}




/* ------------------------
	Layout 
 ------------------------ */


div#wrap {
	background-color:#fff; /* white*/
	width: 900px;
	height:500px;
	margin: 20px auto;
	}

div#main {
	width: 700px;
	float: left;
	background-color: #fffee6; /*light yellow*/
	}


div#sidebar {
	width: 200px;
	float: right;
	background-color: #e6feff; /*light blue*/
	}
	
