/*Zero browser defaults*/
body * {margin:0; padding:0; border:none;text-indent:0;text-decoration: none;outline:none;}

/* ------------------------
	Basic Styles 
 ------------------------ */

body  {
	font-family:georgia;
	font-size:15px;
	line-height:21px;
	background-color:#e7e7e7; /* light gray*/
	}

h1, h2, p, ol {
	font-weight:normal;
	margin-top:10px;
	}

p {text-align:justify;}

a 				{color:#00b4ff; /*blue*/}
li.current a	{color:black;}


/* ------------------------
	Layout 
 ------------------------ */

div#main {
	width: 500px;
	margin: 20px auto;
	padding:40px;
	background-color: #fffee6; /*light yellow*/
	}
	
	
img {
	float:left;
	padding:8px 10px 0 0;
	}
