/* Reset */
	body, body * 	{margin:0; padding:0; text-indent:0; text-decoration: none; outline:none; }

/*	guide */
	body {background: transparent url(guide.jpg) repeat-y 50% 0; }

/*	type and other basic styles */
	body 	{font-family:"Helvetica Neue", helvetica, arial; font-size:14px; line-height:20px;}
	h1 		{font-size:30px; line-height:30px; color:black;}
	h2 		{font-size:14px;}
	p, ul	{margin-bottom:10px;}
	a 		{color:#00a8ff;font-weight:bold;}
	li.current a {color:black;}
	em 			{background-color:yellow; font-style:normal;}
	#main ul 	{margin-left:20px;}
	header 		{margin-top:5px; }
	
	/*	Your styles go below here*/
